<!-- signup.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="signup.css" />
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
 
</style>
<body>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: darkslategrey;"
    >
      <div class="container-fluid" >
        <a class="navbar-brand" href="#"><img src="/th.jpg" alt="" height="100"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-4 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="/NTI-Tech-Academy.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Skills</a>
            </li>
            <li class=" nav-item">
              <a class="nav-link" href="/NTI-Tech-Academy.html/#about">About</a>
            </li>
          </ul>
          <span class="navbar-text"><b> Welcome To The NTI Tech Acedamy </b> </span>
        </div>
      </div>
    </nav>
   <div class="container">
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="40" required>
        
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" maxlength="400" required>
        
        <label for="phone_num">Phone Number:</label>
        <input type="tel" id="phone_num" name="phone_num" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" maxlength="50" required>
        
        <label for="email">Password:</label>
        <input type="password" id="password" name="password" maxlength="50" required>
        
        <label for="f_name">Father Name:</label>
        <input type="text" id="f_name" name="f_name" maxlength="40" >
        
        <label for="m_name">Mother Name:</label>
        <input type="text" id="m_name" name="m_name" maxlength="40" >
        
        <label for="address">Address:</label>
        <textarea id="address" name="address" maxlength="400" required></textarea>
        

                  
        <button type="submit">Sign Up</button>
        <div class="already_account">
            <b>You Have Already Account ?</b>
            <a href="signin.html">Sign In </a>
        </div>
    </form>
    
   </div>
   <footer>
    <div class="footer-container">
        <div class="footer-contact">
            <h2>Contact</h2>
            <p>LIG - 2/21/422, <br> Nehru Ngar, Rewa MP - 486001</p>
            <p>Tel:07662-462289<br> Fax: 9174253016</p>
            <p>Email: <a href="mailto:info@ntitechacademy.com">info@ntitechacademy.com</a></p>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        
    <div class="footer-bottom">
        <p>&copy; 2024 by Personal Life Coach. Powered and secured by <b>NTI Tech Acedamy</b></p>
    </div>
</footer>
</body>
</html>
